# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sw?

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

/Lycoris-Api/.vs
/Lycoris-Admin-Vue/components.d.ts
/Lycoris-Admin-Vue/auto-imports.d.ts
/Lycoris-Blog-Vue/auto-imports.d.ts
/Lycoris-Blog-Vue/components.d.ts
/Lycoris-Vue/test.html
/Lycoris-Vue/visualizer.html
/Lycoris-Web-Vue/visualizer.html
/Test/.vs
/server/.vs
/server/Lycoris.Blog.EntityFrameworkCore/Migrations
/server/Lycoris.Blog.Server/AppData/appsettings.Localhost.json
/server/Lycoris.Blog.Server/wwwroot
