// html[data-theme='dark'] {
//   //
//   --main-background-color: var(--color-dark);
// }

.request-route {
  .http-method {
    padding: 3px 8px;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
  }

  .get {
    background-color: var(--color-info);
  }

  .post {
    background-color: var(--color-purple);
  }
}

.dialog-footer button:first-child {
  margin-right: 10px;
}

@keyframes el-icon-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.el-dialog__body {
  overflow-x: hidden;
  overflow-y: auto;
  border-top: 1px solid var(--color-secondary);
  border-bottom: 1px solid var(--color-secondary);
  max-height: 800px;

  @media (max-height: 1080px) {
    max-height: 700px;
  }
}
