// html[data-theme='dark'] {
//   //
//   --main-background-color: var(--color-dark);
// }

.request-route {
  .http-method {
    padding: 3px 8px;
    color: #fff;
    border-radius: 15px;
    font-size: 12px;
  }

  .get {
    background-color: var(--color-info);
  }

  .post {
    background-color: var(--color-purple);
  }
}

.dialog-footer button:first-child {
  margin-right: 10px;
}
